body {
    padding-top: 125px;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 70px;
}

/* 로고 */
.headerLeft {
    font-weight: 900;
    font-size: 28px;
    padding: 0.3em;
    cursor: pointer;
}

/* 아이콘 */
.headerRight {
    display: flex;
    gap: 0.7em;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.iconBtn {
    font-size: 1.5em;
    padding: 0.5em 0.3em;
    cursor: pointer;
    transition: color 0.2s, text-shadow 0.2s;
}

.iconBtn:hover {
    color: #fff;
    text-shadow: 0 0 4px black;
}

/* 메뉴 */
.menuWrap {
    position: fixed;
    top: 70px;
    z-index: 1000;
    width: 100%;
    height: 55px;
    border: 1px rgb(233, 233, 233) solid;
    background-color: white;
}

.menu {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu>ul {
    height: 55px;
    line-height: 40px;
    gap: 5rem;
    display: flex;
}

/* 슬라이더 */
/* 전체 슬라이더 스타일 */
#visualSlider {
    width: 100%;
    height: 400px;
    /* 슬라이더 높이 지정 */
    margin: 0 auto;
    background-color: #dddbdb;
}

.carousel-inner {
    display: flex;
    justify-content: center;
    /* 가운데 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
}

.carousel-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* 이미지 간 간격 설정 */
    height: 100%;
}

/* 이미지 스타일 */
.carousel-item a img {
    width: 48%;
    /* 이미지가 겹치지 않도록 48%로 설정 */
    height: 100%;
    /* 슬라이더 높이에 맞게 이미지를 늘림 */
    object-fit: cover;
    /* 이미지가 영역에 맞게 잘리거나 늘어남 */
    display: block;
}

/* d-flex를 사용하여 슬라이드 아이템이 유연하게 배치되도록 설정 */
.d-flex {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* 이미지 간 간격 설정 */
    height: 100%;
}

/* 슬라이더 화살표 */
.carousel-control-prev,
.carousel-control-next {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#visualSlider:hover .carousel-control-prev,
#visualSlider:hover .carousel-control-next {
    opacity: 1;
}

/* 화살표 버튼 스타일 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


.bigArticleContainer:hover .prevBigArticle,
.bigArticleContainer:hover .nextBigArticle,
.smallArticleContainer:hover .prevSmallArticle,
.smallArticleContainer:hover .nextSmallArticle {
    opacity: 1;
}

.prevBigArticle {
    left: 5%;
    transform: translate(-50%, -50%);
}

.nextBigArticle {
    right: 5%;
    transform: translate(50%, -50%);
}

.prevBigArticle::after,
.nextBigArticle::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    border: 1px solid white;
    border-width: 0 0 1px 1px;
}

.prevBigArticle::after {
    transform: translate(-30%, -50%) rotate(45deg);
}

.nextBigArticle::after {
    transform: translate(-70%, -50%) rotate(-135deg);
}

/* 상품 */
.info {
    padding: 16px 0 0;
    min-height: 90px;
    box-sizing: border-box;
}

.info b {
    font-size: 16px;
    font-weight: 600;
}

.info .price {
    font-weight: bold;
    font-size: 18px;
}

.info del {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}

/* 큰 사진 */
.bigArticleContainer {
    position: relative;
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.bigArticleScroll {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.bigArticleScroll::-webkit-scrollbar {
    display: none;
}

.bigArticleBox {
    width: 1200px;
    height: 100%;
    display: flex;
}

.bigArticle {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: white;
}

.bigArticle img {
    width: 480px;
    height: 300px;
}

/* 작은 사진 */
.smallArticleContainer {
    position: relative;
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.smallArticleScroll {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.smallArticleScroll::-webkit-scrollbar {
    display: none;
}

.smallArticleBox {
    width: 1200px;
    height: 100%;
    display: flex;
}

.smallArticle {
    width: 290px;
    height: 400px;
    background-color: white;
}

.smallArticle img {
    width: 270px;
    height: 300px;
}