.innerDiv {
    height: 880px;
}

.innerDivWrap {
    margin: 2rem auto 0;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

:root
{
    --padding-left-info :50px;
    --padding-right-info :50px;
}

body
{
    overflow-x: hidden;
    overflow-y: auto;
}

.titleRectDiv
{
    width: 670px;
    height: 100px;
    align-self: center;
}

.titleText
{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    line-height: 100px;
}

.scrollerDiv
{
    width: 640px;
    height: auto;
    padding: 6px 6px 6px 6px;
    align-self: center;
}

.scrollerMask
{
    width: 640px;
    height: 751px;
    gap : 25px;
    -ms-overflow-style: none
}

.scrollerMask::-webkit-scrollbar
{   
    display:none;
}

.scrollerItem
{
    width: 620px;
    height: 130px;
    background-color: gray;
    border-radius: 30px;
    margin: 25px 0px 25px 0px;
    padding: 8px 19px 0px 19px;
}

.scrollerItemHeader
{
    width: 620px;
    height: 50px;
    margin: 25px 0px 25px 0px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    line-height: 50px;
}

.itemImage
{
    background-color: lightgray;
    width: 112px;
    height: 112px;
    display: block;
    float: left;
    align-self: left;
    align-items: center;
    border-radius: 18px;
    margin: 0px 0px 0px 0px;
    overflow:hidden;
}

.itemImage img
{
    width:100%;
    height:100%;
    object-fit:cover;
}


.itemDetail
{
    width: 375px;
    height: 112px;
    float: right;
}

.itemDetailTitle
{
    width: inherit;
    height: auto;
    margin: 18px 0px 6px 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: whitesmoke;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemDetailDesc
{
    width: inherit;
    height: auto;
    margin: 0x 0px 6px 0px;
    font-weight: bold;
    text-align: right;
    color: whitesmoke;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemDetailOption
{
    width: inherit;
    height: auto;
    font-size: 8px;
    margin: 6px 0px 6px 0px;
    text-align: right;
    font-weight: bold;
    color: whitesmoke;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transitionDiv
{
    background-color: gray;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
    transition: 500ms;
}
